@font-face {
  font-family: Lora;
  src: url(/fonts/Lora-Medium.ttf) format("truetype"),
       url(/fonts/lora-variable.woff) format("woff"),
       url(/fonts/lora-variable.woff2) format("woff2");
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype"),
       url(/fonts/opensans-variable.woff) format("woff"),
       url(/fonts/opensans-variable.woff2) format("woff2");
}

@media screen and (max-width: 500px) {
  #canvas {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;

  }

  #about-me-card {
    padding: 0rem;
  }

  .card#about-me-text {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  div#about-me-pic {
    padding: .5rem;
  }

  div.main-content {
    max-width: 94%;
  }
}

@media screen and (max-width: 980px) {
  #canvas {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;

  }

  #about-me-card {
    padding: 0rem;
  }

  .card#about-me-text {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  div#about-me-pic {
    padding: 1rem;
  }

  div.main-content {
    max-width: 94%;
  }

  h2.section-title {
    padding: 1rem 4rem;
  }

  .section-title#mv-title {
    padding-bottom: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans", Tahoma, sans-serif;
}

.contrast-color {
  background-color: #F7F7F7;
}

* {
    /*border: 2px solid red; */
    color: #414748;
    font-family: "Lora", serif;
}

img {
    max-width: 100%;
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1, h2 {
  margin: 0rem;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.canvas {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffe;
    padding: 14px;
    border-radius: 18px;
    gap: 2rem;
}

.section-title {
    align-self: flex-start;
    padding: 3rem 6rem;
    font-weight: 700;
}

#mv-title {
  padding-bottom: 3rem;
}

.card {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #EEF1F1;
}

.sections-flex-rules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.card-body {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.container-fluid {
    padding-bottom: 0px;
}

.project-item-size {
  width: 26rem;
}

.picture-text {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
}

#about-me-text {
  flex: 3 1 600px;
  padding: 2rem;
  gap: 16px;
}

#about-me-pic {
  display: flex;
  padding: 2rem;
  flex: 0 2 380px;
}

.card-link+.card-link {
  margin-left: 0rem;
}

.link-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1rem;
  gap: .5rem;
}

.card-content-padding {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#about-me-card {
  border: 0px;
}

.bigger-title {
  font-size: 20px;
}

.left-title-pad {
  padding-left: 1rem;
}

.modal-header {
  border: 0px;
}

.btn {
  margin-top: 8px;
  width: 5rem;
  height: auto;
  flex: none;
  align-self: flex-end;
  border: none;
}

button.btn-outline-dark:hover {
  background-color: #ff8e3c;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em 4em 2em;
  border-radius: 18px;
}

.modal-header-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-card {
  flex: 0 1 32rem;
}

.maps-module-placeholder {
  background-color: blue;
  height: 400px;
  width: 400px;
  flex: 0 1 400px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  max-width: 80%;
}

img.rounded-corners {
  border-radius: 18px;
}

map {
  flex: 0 1 auto;
}

iframe.rounded-corners {
  border-radius: 18px;
}

#about-me {
  margin-bottom: 0px;
}

.top-space {
  margin-top: 8px;
}